{{ define "main" }}
    <header>
        <h3 class="section-title">
            {{ if eq .Parent (.GetPage "/") }}
                {{ T "list.section" }}
            {{ else }}
                {{ .Parent.Title }}
            {{ end }}
        </h3>

        <div class="section-card">
            <div class="section-details">
                <h3 class="section-count">{{ T "list.page" (len .Params.links) }}</h3>
                <h1 class="section-term">{{ .Title }}</h1>
                {{ with .Params.description }}
                    <h2 class="section-description">{{ . }}</h2>
                {{ end }}
            </div>
        </div>
    </header>

    {{- with .Content -}}
        <section class="article-content">
            {{ . }}
        </section>
    {{- end -}}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
