.article-content { // line 205
    .highlight { // line 331
        background-color: var(--pre-background-color);
        padding: var(--card-padding);
        position: relative;

        pre { // line 345
            margin: initial;
            padding: 0;
            margin: 0;
            width: auto;
            max-height: 20em;
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none; /* Chrome Safari */
            }
        }
    }
}
